/* Give all the page the same Font Family */
body {
  font-family: Roboto;
  color: #353b48;
}

/* Split the screen in two */
/* .splitleft {
  height: 100vh;
  width: 30vw;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* Control the left side */
.left {
  left: 0;
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

.logo {
  position: absolute;
  top: 20px;
  text-align: center;
  width: 100%;
  display: block;
}

.logoimage {
  height: 35px;
  margin: 0px 10px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  margin: 0;
  width: 100%;
  text-align: center;
}

.leftboxes {
  display: flex;
  flex-direction: column;
}

.leftbox {
  padding: 5%;
}

/* Style the image inside the centered container, if needed */
.centered .profilepicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid #353b48;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.centered .profilename {
  font-size: 32px;
  font-weight: 900;
}

.centered .career {
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 16px;
  margin: 0px;
}

.centered .position {
  font-weight: 300;
  padding-bottom: 5px;
  font-size: 16px;
  margin: 0px;
}

/* .splitright {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
} */


/* Control the right side */
.right {
  right: 0;
  background-color: #ffffff;
}


/* This is the footer section */
.footer {
  margin: 0;
  padding: 12px 0;
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
  /* width: 100%; */
  text-align: center;
  background-color: #353b48;
  color: #ffffff;
  font-weight: 300;
}

.footer p {
  margin: 8px 0;
}

/* These are the styles for the projects section */
.bottoned {
  width: 100%;
  left: 50%;
  text-align: center;
  /* position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.rightboxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.leftsectiontable {
  width: 30vw;
  text-align: right;
}

.rightsectiontable {
  width: 30vw;
  text-align: left;
  font-size: 18px;
}

.rightsectiontable p {
  font-weight: 300;
}

.rightsectiontable a p {
  font-weight: 500;
  color: #f9ca24;
  width: fit-content;
  padding-bottom: 2px;
  border-bottom: 1px solid #353b48;
}

.bottomline {
  padding-bottom: 5px;
  border-bottom: 5px solid #f9ca24
}

.ulclass {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.icons {
  padding: 24px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.iconimages {
  width: 35px;
  margin: 0px 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.rightboxes a {
  text-decoration: none;
  color: #353b48;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20vw;
  margin: 0px 15px;
  /* border-radius: 10px 10px 0px 0px; */
}

.card img {
  width: 20vw;
  /* border-radius: 10px 10px 0px 0px; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  outline: 4px solid #f9ca24;
  background-color: #353b48;
  color: #ffffff;
}

/* Add some padding inside the card container */
.cardcontainer {
  padding: 2px 16px;
}

.cardcontainer h4 {
  font-weight: 900;
  margin-bottom: auto;
}

.cardcontainer p {
  font-weight: 300;
}

/* Form section */
.form-style-7 {
  max-width: 60vw;
  margin: auto;
}

.form-style-7 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-style-7 ul li {
  display: block;
  padding: 9px;
  border: 1px solid #f9ca24;
  margin-bottom: 30px;
  border-radius: 3px;
}

.form-style-7 li:last-child {
  border:none;
  margin-bottom: 0px;
  text-align: center;
}

.form-style-7 li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #353b48;
  font-size: 14px;
  overflow: hidden;
  font-weight: 300;
}

.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 select
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 75px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 li > span {
  background: #f9ca24;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #353b48;
  font-weight: 300;
  font-size: 11px;
}

.form-style-7 textarea {
  resize: none;
}

.form-style-7 input[type="submit"],
.form-style-7 input[type="button"] {
  background: #353b48;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #000000;
  border-radius: 3px;
  color: white;
}

.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover {
  background: #353b4880;
  border-bottom: 3px solid #00000070;
  /* color:#ff9f43; */
}

.formbutton {
  cursor: pointer;
}

.contact {
  text-align: center;
}

.contact .contactlinks {
  color: #353b48;
  text-decoration: none;
  font-weight: 500;
  width: fit-content;
  padding-bottom: 2px;
  border-bottom: 1px solid #353b48;
}

.contact .contactlinks:hover {
  text-decoration: none;
  color: #f9ca24;
  width: fit-content;
  border-bottom: 1px solid #f9ca24;
}

.contact .faicons {
  color: #353b48;
  text-decoration: none;
  font-weight: 500;
  width: fit-content;
  padding-bottom: 2px;
}

.contact .faicons:hover {
  text-decoration: none;
  color: #f9ca24;
  width: fit-content;
}

@media screen and (min-width: 1024px) {
  .splitleft {
    height: 100vh;
    width: 30vw;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .splitright {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }

  .logoimage {
    height: 40px;
    margin: 0px 10px;
  }
  /* Style the image inside the centered container, if needed */
  .centered .profilepicture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 6px solid #353b48;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .centered .profilename {
    font-size: 32px;
    font-weight: 900;
  }

  .centered .career {
    font-weight: 500;
    padding-bottom: 5px;
    font-size: 18px;
    margin: 0px;
  }

  .centered .position {
    font-weight: 300;
    padding-bottom: 5px;
    font-size: 18px;
    margin: 0px;
  }

  .icons {
    padding: 24px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
  }

  .iconimages {
    width: 35px;
    margin: 0px 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18vw;
    margin: 0px 8px;
    /* border-radius: 10px 10px 0px 0px; */
  }

  .card img {
    width: 18vw;
    /* border-radius: 10px 10px 0px 0px; */
  }

  /* Add some padding inside the card container */
  .cardcontainer {
    padding: 2px 8px;
  }

  .cardcontainer h4 {
    font-weight: 900;
    margin-bottom: auto;
    font-size: 16px
  }

  .cardcontainer p {
    font-weight: 300;
    font-size: 14px
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .splitleft {
    height: 100vh;
    width: 30vw;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .splitright {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }

  .logoimage {
    height: 25px;
    margin: 0px 10px;
  }
  /* Style the image inside the centered container, if needed */
  .centered .profilepicture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 6px solid #353b48;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .centered .profilename {
    font-size: 18px;
    font-weight: 900;
  }

  .centered .career {
    font-weight: 500;
    padding-bottom: 5px;
    font-size: 14px;
    margin: 0px;
  }

  .centered .position {
    font-weight: 300;
    padding-bottom: 5px;
    font-size: 12px;
    margin: 0px;
  }

  .icons {
    padding: 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
  }

  .iconimages {
    width: 24px;
    margin: 0px 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .bottomline {
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 5px solid #f9ca24
  }

  .leftsectiontable {
    width: 30vw;
    text-align: right;
    font-size: 16px
  }

  .rightsectiontable {
    width: 30vw;
    text-align: left;
    font-size: 16px;
  }

  .rightsectiontable p {
    font-weight: 300;
  }

  .rightsectiontable a p {
    font-weight: 500;
    color: #f9ca24;
    width: fit-content;
    padding-bottom: 2px;
    border-bottom: 1px solid #353b48;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18vw;
    margin: 0px 8px;
    /* border-radius: 10px 10px 0px 0px; */
  }

  .card img {
    width: 18vw;
    /* border-radius: 10px 10px 0px 0px; */
  }

  /* Add some padding inside the card container */
  .cardcontainer {
    padding: 2px 8px;
  }

  .cardcontainer h4 {
    font-weight: 900;
    margin-bottom: auto;
    font-size: 12px
  }

  .cardcontainer p {
    font-weight: 300;
    font-size: 12px
  }
}

@media screen and (max-width: 425px) {
  .highcontainer {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .splitleft {
    /* position: absolute; */
    /* width: 100vw; */
    /* top: 0; */
    display: grid;
    /* flex-direction: column;
    justify-content: center; */
  }

  .splitright {
    /* position: absolute;
    top: 60%; */
    display: inline;
  }

  .logo {
    position: unset;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    display: block;
  }

  .logoimage {
    height: 35px;
    margin: 0px 10px;
  }

  .logoimage {
    height: 25px;
    margin: 0px 10px;
  }

  .centered .profilepicture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 6px solid #353b48;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .centered .profilename {
    font-size: 18px;
    font-weight: 900;
  }

  .centered .career {
    font-weight: 500;
    padding-bottom: 5px;
    font-size: 14px;
    margin: 0px;
  }

  .centered .position {
    font-weight: 300;
    padding-bottom: 5px;
    font-size: 12px;
    margin: 0px;
  }

  .icons {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
  }

  .iconimages {
    width: 24px;
    margin: 0px 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .bottomline {
    text-align: center;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 5px solid #f9ca24
  }

  .leftsectiontable {
    width: 45vw;
    text-align: right;
    font-size: 14px
  }

  .rightsectiontable {
    width: 45vw;
    text-align: left;
    font-size: 14px;
  }

  .rightsectiontable p {
    font-weight: 300;
  }

  .rightsectiontable a p {
    font-weight: 500;
    color: #f9ca24;
    width: fit-content;
    padding-bottom: 0;
    border: none;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80vw;
    margin: 16px;
  }

  .card img {
    width: 80vw;
  }

  .cardcontainer {
    padding: 2px 8px;
  }

  .cardcontainer h4 {
    font-weight: 900;
    margin-bottom: auto;
    font-size: 16px
  }

  .cardcontainer p {
    font-weight: 300;
    font-size: 16px
  }

  /* This is the footer section */
  .footer {
    margin: 0;
    padding: 12px 0;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    /* width: 100vw; */
    /* text-align: center; */
    background-color: #353b48;
    color: #ffffff;
    font-weight: 300;
    font-size: 12px;
  }

  .footer p {
    margin: 8px 0;
  }

  /* Form section */
  .form-style-7 {
    max-width: 80vw;
    margin: auto;
  }
}
